<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div class="alert alert-warning" role="alert" id="error_explanation">
      <strong><%= pluralize(task.errors.count, "error") %> prohibited this event from being saved:</strong>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :task_title, :class => 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :task_description, :class => 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :task_start_date, :class => 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.order(:email),:id,:email, {prompt: "Select user"}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', :class => 'btn btn-outline-primary' %>
  </div>
<% end %>
