<% provide(:colonies_active, 'active') %>

<br>

<p>
  <strong>Cat:</strong>
  <%= @event.cat_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date of event:</strong>
  <%= @event.date_of_event %>
</p>

<p>
  <strong>Solved:</strong>
  <%= @event.solved %>
</p>

<p>
  <strong>Solution description:</strong>
  <%= @event.solution_description %>
</p>

<%= link_to 'Edit', edit_event_path(@event), :class => 'btn btn-outline-warning' %>
<%= link_to 'Back', cat_path(@event.cat), :class => 'btn btn-outline-danger' %>
