<% provide(:colonies_active, 'active') %>

<br>

<div class="card">
  <div class="card-header">
    Cat information
  </div>
  <div class="card-block">
    <h4 class="card-title"><%= @cat.code %>: <%= @cat.name %></h4>
    <div class="card-text">
      <p>
        <strong>Birthday:</strong>
        <%= @cat.birthday %>
      </p>
      
      <p>
        <strong>Colony:</strong>
        <%= @cat.colony.code %>
      </p>
      
      <p>
        <strong>Personality:</strong>
        <%= @cat.personality.humanize %>
      </p>
      
      <p>
        <strong>Sex:</strong>
        <%= @cat.sex.humanize %>
      </p>
      
      <p>
        <strong>Age:</strong>
        <%= @cat.age.humanize %>
      </p>
    </div>
  </div>
</div>

<br>

<table class='table'>
  <thead class='thead-inverse'>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Date of event</th>
      <th>Solved</th>
      <th>Solution description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_type.capitalize %></td>
        <td><%= event.description %></td>
        <td><%= event.date_of_event %></td>
        <td><%= event.solved ? "Yes":"No" %></td>
        <td><%= event.solution_description %></td>
        <td><%= link_to 'Edit', edit_colony_cat_event_path(@cat.colony,@cat,event), :class => 'btn btn-warning' %></td>
        <td><%= link_to 'Delete', colony_cat_event_path(@cat.colony,@cat,event), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New event', new_colony_cat_event_path(@cat.colony,@cat), :class => 'btn btn-outline-warning' %>
<%= link_to 'Back', colony_path(@cat.colony), :class => 'btn btn-outline-danger' %>